.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.n-left {
    flex:1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name>img {
    font-size: 1.3rem;
    font-weight: bold;
    width: 60px;
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list {
    flex: 10;
}

.n-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}

.n-list ul li{
    cursor: pointer;
}

.n-list ul li:hover {
    cursor: pointer;
    color: var(--orange);
    transition: 0.3s;
}

.n-button {
    float: 2;
}

@media screen and (max-width: 991px) {
    .n-name {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .n-button {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .n-name {
        display: block;
    }
    .n-right {
        display: none;
    }
    .n-left {
        justify-content: space-between;
        display: flex; 
        width: 100%;
    }
    .n-button {
        display: none;
    }
}
@media screen and (max-width: 375px) {
    .n-name {
        display: block;
    }
    .n-right {
        display: none;
    }
    .n-left {
        justify-content: space-between;
        display: flex; 
        width: 100%;
    }
}